<header class="app-header">
  <div class="header-left">
    <span class="back-arrow" *ngIf="headerConfig.showNavigationArrow">
      <i class="fa-solid fa-arrow-left" (click)="backNavigation()"></i>
    </span>
    <h1 class="app-title">{{ headerConfig.headerTitle | translate }}</h1>
  </div>

  <div class="header-right">
    <button *ngIf="headerConfig.showAddButton" class="app-button" [routerLink]="['/add-contact']">
      {{ 'contact.add.new.label' | translate }}
      <span class="plus">+</span>
    </button>

    <button *ngIf="headerConfig.showSaveButton" (click)="save()" class="app-button">
      {{ 'contact.save.title' | translate }}
    </button>

    <button *ngIf="headerConfig.showEditButton" (click)="edit()" class="app-button">
      {{ 'contact.edit.title' | translate }}
    </button>

    <button *ngIf="headerConfig.showCancelButton" (click)="cancel()" class="app-button">
      {{ 'contact.cancel.title' | translate }}
    </button>
  </div>
</header>
